/* 
## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)
*/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


/* p {
    line-height: 1.8;
} */

.body {
    font-family: "Spartan", sans-serif;
    /* background-color: var(--white);
    display: flex;
    align-items: center;
    text-align: center; */
}

main h1,
.stars p {
    color: var(--very-dark-magenta);
}

.stars igm {
    margin-right: 10px;
}

.testimonials .card {
    background-color: var(--very-dark-magenta);
    padding: 40px 20px;
    border-radius: 10px;
}

.testimonials .card h3 {
    color: #fff;
}

.testimonials .card small {
    color: hsl(333, 80%, 67%);
}

.testimonials .card p {
    color: #fff;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width: 768px) {
    .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px
    }
}

@media (min-width: 1024px) {
    body {
        overflow: hidden;
    }
    .showcase {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .stars {
        display: inline-block;
    }
    .stars>div:nth-child(2) {
        transform: translateX(5%);
    }
    .stars>div:nth-child(3) {
        transform: translateX(10%);
    }
    main {
        max-width: auto;
    }
    main h1 {
        font-size: 46px;
    }
    .testimonials>div:nth-child(2) {
        transform: translateY(10%);
    }
    .testimonials>div:nth-child(3) {
        transform: translateY(20%);
    }
}